<!DOCTYPE html>
<html lang="en" ng-app="clientApp">

<head>
  <title>Resiliency Application</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="/static/angular-1.4.9.js"></script>
  <script src="/static/angular-route-1.4.9.js"></script>
  <script src="/static/app.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
  <script src="/static/jquery.cookie.js"></script>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
  <link rel="stylesheet" href="/static/css/infrastructureMenu.css" />
  <link rel="stylesheet" href="/static/css/app.css" />
  <link rel="stylesheet" href="/static/css/hamburgerMenu.css" />
</head>

<body>
  <nav id="leftBar" class="leftBar">
    <ul id="leftBarTabs">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Menu 1</a></li>
      <li><a href="#">Menu 2</a></li>
      <li><a href="#">Menu 3</a></li>
    </ul>
  </nav>
  <div id="contentLayer"></div>
  <!-- Invisible layer for clicking out of HamburgerMenu -->

  <div id="body">
    <header>
      <div id="hamburger">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </header>

    <section id="content">
      <div id="map"></div>

      <footer id="editor">
      <!-- Editor Panel -->
        <ul id="editor_tabs" class="nav nav-pills nav-stacked">
          <li class="active"><a data-toggle="tab" href="#editor_power">POWER</a></li>
          <li><a data-toggle="tab" href="#editor_water">WATER</a></li>
          <li><a data-toggle="tab" href="#editor_road">ROAD</a></li>
        </ul>

        <div id="editor_content" class="tab-content">
          <div id="editor_power" class="tab-pane fade in active">
            <p class="editor_content_header">Power Components</p>
          </div>
          <div id="editor_water" class="tab-pane fade">
            <p class="editor_content_header">Water Components</p>
          </div>
          <div id="editor_road" class="tab-pane fade">
            <p class="editor_content_header">Road Components</p>
          </div>
        </div>
      </footer>
    </section>

    <div id="sideBar" class="sideBar">

      <div class="attributesTable">
        <div class="blueTable">
          <table id="componentTable">
            <tr>
              <td colspan="2" class="tableHeader">Component</td>
            </tr>
            <tr>
              <td class="rowName" style="padding-top: 15px"> Status:</td>
              <td class="rowData" style="padding-top: 15px" id="componentStatus">

                <div class="switch">
                  <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox">
                  <label for="cmn-toggle-1"></label>
                </div>
              </td>
            </tr>
            <tr>
              <td class="rowName" > Name:</td>
              <td style="padding-top: 15px;" class="rowData" id="componentName">SG 1</td>
            </tr>
            <tr>
              <td class="rowName" style="padding-bottom: 15px"> Bus Number:</td>
              <td class="rowData" id="componentBus">5</td>
            </tr>

            <tr>
              <td class="rowName" style="padding-bottom: 15px"> MIN Real Power Generation:</td>
              <td style="padding-bottom: 15px" class="rowData" id="componentDescription">6.7</td>
            </tr>
          </table>
        </div>

      </div>

      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">PROJECT</a></li>
        <li><a data-toggle="tab" href="#menu1">POWER</a></li>
        <li><a data-toggle="tab" href="#menu2">WATER</a></li>
        <li><a data-toggle="tab" href="#menu3">ROAD</a></li>
      </ul>

      <div class="tab-content">

        <div id="home" class="tab-pane fade in active">
          <div class="scroll">

            <div class="blueTable">
              <table>
                <tr>
                  <td colspan="2" class="tableHeader">Project Description</td>
                </tr>
                <tr>
                  <td class="rowName" style="padding-top: 15px;"> Name:</td>
                  <td style="padding-top: 15px;" class="rowData" id="projectName"></td>
                </tr>

                <tr>
                  <td class="rowName"> Date Created:</td>
                  <td class="rowData" id="projectCreation"></td>
                </tr>

                <tr>
                  <td class="rowName" style="padding-bottom: 15px"> Description:</td>
                  <td style="padding-bottom: 15px" class="rowData" id="projectDescription"></td>
                </tr>
              </table>
            </div>


          </div>
        </div>

        <div id="menu1" class="tab-pane fade">

          <div class="scroll">

            <div class="blueTable">
              <table>
                <tr>
                  <td colspan="2" class="tableHeader">Power Network Statistics</td>
                </tr>
                <tr>
                  <td class="rowName" style="padding-top: 15px;"> Name:</td>
                  <td style="padding-top: 15px;" class="rowData" id="name">null</td>
                </tr>

                <tr>
                  <td class="rowName"> Type:</td>
                  <td class="rowData" id="type">null</td>
                </tr>

                <tr>
                  <td class="rowName"> Format:</td>
                  <td class="rowData" id="format">null</td>
                </tr>

                <tr>
                  <td class="rowName"> Transformer Delta:</td>
                  <td class="rowData" id="transformerDelta">null</td>
                </tr>

                <tr>
                  <td class="rowName"> Units:</td>
                  <td class="rowData" id="units">null</td>
                </tr>

                <tr>
                  <td class="rowName"> Frequency:</td>
                  <td class="rowData" id="frequency">null</td>
                </tr>

                <tr>
                  <td class="rowName"> Temperature:</td>
                  <td class="rowData" id="temperature">null</td>
                </tr>

                <tr>
                  <td class="rowName" style="padding-bottom: 15px"> Description:</td>
                  <td style="padding-bottom: 15px" class="rowData" id="description">null</td>
                </tr>
              </table>
            </div>

            <br>
            <h3 class="NodeHeader"> Power Nodes </h3>

            <ul class="NodeList">
              <div ng-view></div>
            </ul>


          </div>




        </div>


        <div id="menu2" class="tab-pane fade">

          <div class="scroll">

            <div class="blueTable">
              <table>
                <tr>
                  <td colspan="2" class="tableHeader">Water Network Statistics</td>
                </tr>
                <tr>
                  <td class="rowName" style="padding-top: 15px;"> Junctions:</td>
                  <td style="padding-top: 15px;" class="rowData" id="junctions">null</td>
                </tr>

                <tr>
                  <td class="rowName"> Reservoirs:</td>
                  <td class="rowData" id="reservoirs">null</td>
                </tr>

                <tr>
                  <td class="rowName"> Tanks:</td>
                  <td class="rowData" id="tanks">null</td>
                </tr>

                <tr>
                  <td class="rowName"> Pipes:</td>
                  <td class="rowData" id="pipes">null</td>
                </tr>

                <tr>
                  <td class="rowName"> Pumps:</td>
                  <td class="rowData" id="pumps">null</td>
                </tr>

                <tr>
                  <td class="rowName"> Valves:</td>
                  <td class="rowData" style="padding-bottom: 15px" id="valves">null</td>
                </tr>

              </table>
            </div>
          </div>
        </div>
        <div id="menu3" class="tab-pane fade">
        </div>

      </div>

    </div>

    <div class="col-md-4 collapse"></div>

  </div>
  <script src="/static/layout/hamburgerMenu.js"></script>
  <script src="/static/src/editorPanel.js"></script>
  <script src="/static/src/infrastructureMenu.js"></script>
  <script src="/static/src/leafletMap.js"></script>
  <script src="/static/src/logging.js"></script>
  <script src="/static/src/main.js"></script>
</body>

</html>
