<!DOCTYPE html>
<html lang="en" ng-app="clientApp">

<head>
  <title>Resiliency Application</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="/static/angular-1.4.9.js"></script>
  <script src="/static/angular-route-1.4.9.js"></script>
  <script src="/static/constants.js"></script>
  <script src="/static/app.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
  <script src="/static/jquery.cookie.js"></script>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
  <link rel="stylesheet" href="/static/css/infrastructureMenu.css" />
  <link rel="stylesheet" href="/static/css/app.css" />
  <link rel="stylesheet" href="/static/css/hamburgerMenu.css" />
</head>

<body>
  <nav id="leftBar" class="leftBar">
    <ul id="leftBarTabs">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Menu 1</a></li>
      <li><a href="#">Menu 2</a></li>
      <li><a href="#">Menu 3</a></li>
    </ul>
  </nav>
  <div id="contentLayer"></div>
  <!-- Invisible layer for clicking out of HamburgerMenu -->

  <div id="body">
    <header>
      <span id="hamburger" style="float:left">
        <div></div>
        <div></div>
        <div></div>
      </span>

      <span class="infrastructureView">
        <input  type="button" value="Power"/>
        <input  type="button" value="Water"/>
        <input  type="button" value="Road"/>
      </span>
    </header>

    <section id="content">
      <div id="map"></div>
    </section>

    <div id="sideBar" class="sideBar">
      <div class="attributesTable" id="attributesTable">
        <div class="blueTable">
          <table id="componentTable">
            <tr>
              <td colspan="3" class="tableHeader" id="compTitle">Component</td>
            </tr>
          </table>
        </div>
      </div>

      <div>
        <button class="nodeConnectionButtons" type="button" id="deleteNodeButton">DELETE NODE</button>
      </div>

      <div>
        <button class="nodeConnectionButtons" type="button" id="deleteConnectionButton">DELETE CONNECTION</button>
      </div>


      <ul class="nav nav-tabs" id="nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">PROJECT</a></li>
        <li><a data-toggle="tab" href="#menu1">POWER</a></li>
        <li><a data-toggle="tab" href="#menu2">WATER</a></li>
        <li><a data-toggle="tab" href="#menu3">ROAD</a></li>
      </ul>

      <div class="tab-content" id="tab-content">
        <div id="home" class="tab-pane fade in active">
          <div class="scroll">
            <div class="blueTable">
              <table>
                <tr>
                  <td colspan="2" class="tableHeader"><button class="toggler" id="toggler" data-prod-cat="1" >-    </button> Project Description</td>
                </tr>
                <tr class="cat1" >
                  <td class="rowName"  style="padding-top: 15px;"> Name:</td>
                  <td style="padding-top: 15px;" class="rowData" id="projectName"></td>
                </tr>
                <tr class="cat1" >
                  <td class="rowName"> Date Created:</td>
                  <td class="rowData" id="projectCreation"></td>
                </tr>
                <tr class="cat1">
                  <td class="rowName" style="padding-bottom: 15px"> Description:</td>
                  <td style="padding-bottom: 15px" class="rowData" id="projectDescription"></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div id="menu1" class="tab-pane fade">
          <div class="scroll">
            <div class="blueTable">
              <table>
                <tr>
                  <td colspan="2" class="tableHeader">Power Network Statistics</td>
                </tr>
                <tr>
                  <td class="rowName" style="padding-top: 15px"> Bus Count:</td>
                  <td class="rowData" id="busCount" style="padding-top: 15px">null</td>
                </tr>
                <tr>
                  <td class="rowName"> Utility Count:</td>
                  <td class="rowData" id="utilCount">null</td>
                </tr>
                <tr>
                  <td class="rowName"> Generator Count:</td>
                  <td class="rowData" id="genCount">null</td>
                </tr>
                <tr>
                  <td class="rowName"> Load Count:</td>
                  <td class="rowData" id="loadCount">null</td>
                </tr>
                <tr>
                  <td class="rowName"> Transformer Count:</td>
                  <td class="rowData" id="transCount">null</td>
                </tr>
                <tr>
                  <td class="rowName" style="padding-bottom: 15px"> Branch Count:</td>
                  <td style="padding-bottom: 15px" class="rowData" id="branchCount">null</td>
                </tr>
              </table>
            </div>
            <br>
            <h3 class="NodeHeader"> Power Components </h3>


            <ul class="NodeList" >
              <div class="NodeListDiv" ng-controller="NodeListController">
                <div ng-view></div>
              </div>
            </ul>


          </div>
        </div>
        <div id="menu2" class="tab-pane fade">
          <div class="scroll">
            <div class="blueTable">
              <table>
                <tr>
                  <td colspan="2" class="tableHeader">Water Network Statistics</td>
                </tr>
                <tr>
                  <td class="rowName" style="padding-top: 15px;"> Junctions:</td>
                  <td style="padding-top: 15px;" class="rowData" id="junctions">null</td>
                </tr>
                <tr>
                  <td class="rowName"> Reservoirs:</td>
                  <td class="rowData" id="reservoirs">null</td>
                </tr>
                <tr>
                  <td class="rowName"> Tanks:</td>
                  <td class="rowData" id="tanks">null</td>
                </tr>
                <tr>
                  <td class="rowName"> Pipes:</td>
                  <td class="rowData" id="pipes">null</td>
                </tr>
                <tr>
                  <td class="rowName"> Pumps:</td>
                  <td class="rowData" id="pumps">null</td>
                </tr>
                <tr>
                  <td class="rowName"> Valves:</td>
                  <td class="rowData" style="padding-bottom: 15px" id="valves">null</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div id="menu3" class="tab-pane fade">
        </div>
      </div>
    </div>
    <div id="dialogContainer">
      <div id="connectionDialog">
        <div id="connectionDialogContent">
          <h1 id="conHeader">Select Connection Type</h1>
          <div class="toggle-btn-grp joint-toggle">
            <label onclick="powerConnectionClicked()" class="toggle-btn">
              <input id="powerCon" type="radio" name="group4" />Power
            </label>
            <label onclick="waterConnectionClicked()" class="toggle-btn">
              <input id="waterCon" type="radio" name="group4"/>Water
            </label>
            <label onclick="roadConnectionClicked()" class="toggle-btn">
              <input id="roadCon" type="radio" name="group4"/>Road
            </label>
            <label onclick="otherConnectionClicked()" class="toggle-btn">
              <input id="otherCon" type="radio" name="group4"/>Other
            </label>
          </div>
          <div id="connectionList">
            <select id="conSelect" class="dropDown">
              <option>Two Winding Transformer</option>
              <option>Direct Connection</option>
              <option>Cable</option>
              <option>Overhead Line</option>
            </select>
          </div>
        </div>
        <button id="conDone" class="dlgBtn" onclick="doneConnectionDialog(this.parentNode.parentNode)">Done</button>
        <button id="conCancel" class="dlgBtn" onclick="closeConnectionDialog(this.parentNode.parentNode)">Cancel</button>
      </div>
    </div>
    <footer id="editor">
      <div id="log_ticker" hidden="true"></div>
      <button id="editor_collapse" type="button">-</button>

      <!-- Editor Panel -->
      <div id="editor_content" class="tab-content">

        <ul id="editor_tabs" class="nav nav-pills nav-stacked">
          <li class="active"><a data-toggle="tab" href="#editor_power">POWER</a></li>
          <li><a data-toggle="tab" href="#editor_water">WATER</a></li>
          <li><a data-toggle="tab" href="#editor_road">ROAD</a></li>
          <li><a data-toggle="tab" href="#editor_log">LOG</a></li>
        </ul>
        <div id="editor_power" class="tab-pane fade in active">
          <p class="editor_content_header">Power Components</p>
        </div>
        <div id="editor_water" class="tab-pane fade">
          <p class="editor_content_header">Water Components</p>
        </div>
        <div id="editor_road" class="tab-pane fade">
          <p class="editor_content_header">Road Components</p>
        </div>
        <div id="editor_log" class="tab-pane fade">
          <div id="logged_information">Rise Logger...</div>
        </div>
      </div>

    </footer>
  </div>

  <script src="/static/layout/hamburgerMenu.js"></script>
  <script src="/static/src/editorPanel.js"></script>
  <script src="/static/src/infrastructureMenu.js"></script>
  <script src="/static/src/leafletMap.js"></script>
  <script src="/static/src/logging.js"></script>
  <script src="/static/src/main.js"></script>
</body>

</html>
