html {
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
  font-family: Consolas, monospace;
  overflow-x: inherit;
  overflow-y: inherit;
  font-size: 1.75em;
}

.infrastructureView input {
  float: right;
  margin-left: 3px;
  margin-right: 3px;
  height: 24px;
	-moz-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #637aad), color-stop(1, #5972a7));
	background:-moz-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-webkit-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-o-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-ms-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#637aad', endColorstr='#5972a7',GradientType=0);
	background-color:#637aad;
	border:1px solid #314179;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	padding: 6px;
	text-decoration:none;
}

.infrastructureView input:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5972a7), color-stop(1, #637aad));
	background:-moz-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-webkit-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-o-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-ms-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5972a7', endColorstr='#637aad',GradientType=0);
	background-color:#5972a7;
}

#sideBar {
  width: auto;
  min-width: 350px;
  max-width: 550px;
  float: right;
  margin-left:5px;
  margin-right:5px;
  margin-top:5px;
  margin-bottom: 5px;
  position: relative;
}
#content {
    width: auto;
    height: auto;
    float: left;
    position: relative;
}

#map {
  height: auto;
  width: auto;
}

#editor {
  min-height: 200px;
  position: relative;
  overflow-x: scroll;
}

#editor_power {
  /* height: 280px; */
  overflow-y: scroll;
}
#editor_water {
  /* height: 280px; */
  overflow-y: scroll;
}
#editor_road {
  /* height: 280px; */
  overflow-y: scroll;
}

#editor_log {
  /* height: 280px; */
  max-height: 180px;
  overflow-y: scroll;
}

#editor_tabs {
  float: left;
  text-align: center;
  padding-right: 10px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#editor_content {
  padding-top: 5px;
}

#editor_collapse {
    position: absolute;
    top: 10px;
    right: 10px;
}

.editor_content_header {
  color: rgb(59, 89, 152);
  border-bottom: solid rgb(102,102,102);
}

nav {
    opacity: 0;
    left: 0px;
    top: 0px;
    position: fixed;
    z-index: 0;
    width: 15%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    background: #3e3c3d;
    background: -moz-linear-gradient(top, #3e3c3d 0%, #2d2c2d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3e3c3d), color-stop(100%, #2d2c2d));
    background: -webkit-linear-gradient(top, #3e3c3d 0%, #2d2c2d 100%);
    background: -o-linear-gradient(top, #3e3c3d 0%, #2d2c2d 100%);
    background: -ms-linear-gradient(top, #3e3c3d 0%, #2d2c2d 100%);
    background: linear-gradient(to bottom, #3e3c3d 0%, #2d2c2d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e3c3d', endColorstr='#2d2c2d', GradientType=0);
}

header {
    min-height: 45px;
    max-height: 45px;
    background-color: #3b5998;
    display: block;
    padding: 10px;
    text-decoration: none;
    position: relative;
    width: 100%;
    z-index: 1;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
}

nav ul {
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 0;
}

nav li {
    position: relative;
    font-size: 1em;
    font-weight: bold;
    border-bottom: 1px solid #222222;
    border-top: 1px solid #444444;
    padding: 15px;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

canvas {
	height: auto;
	width: auto;
	pointer-events: auto;
}

button.nodeList{
    background:none;
    border:none;
}

input.componentInput{
    width: 110px;
}

.attributesTable{
    overflow-y: auto;
    max-height: 300px;
    height: 40%;
}
#nav-tabs{
    margin-top: 5px;
}

body {
    font-family:sans-serif;
}

.toggle-btn-grp label {
    padding:0.4em 2em 0.4em 0;
}
.toggle-btn-grp {
    margin:3px 0;
}
.toggle-btn {
    text-align:centre;
    margin:5px 2px;
    padding:0.4em 3em;
    color:#FFF;
    background-color:#3b5998;
    border-radius:10px;
    display:inline-block;
    border:solid 1px #CCC;
    cursor:pointer;
}

.toggle-btn-grp.joint-toggle .toggle-btn {
    margin:5px 0;
    padding:0.4em 2em;
    border-radius:0;
    border-right-color:white;
}
.toggle-btn-grp.joint-toggle .toggle-btn:first-child {
    margin-left:2px;
    border-radius: 10px 0px 0px 10px;
}
.toggle-btn-grp.joint-toggle .toggle-btn:last-child {
    margin-right:2px;
    border-radius: 0px 10px 10px 0px;
    border-right:solid 1px #CCC;
}


.toggle-btn:hover {
    border:solid 1px #a0d5dc !important;
    color:#000;
    background:#f1fdfe;
}


.toggle-btn.success {
    background:lightgreen;
    color:#000;
    border:solid 1px green !important;
}


.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

#dialogContainer{
    display: none;
    position:absolute;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 10%;
    z-index: 1;
}

#connectionDialog {
    position: relative;
    background-color: #fefefe;
    text-align: center;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

#conHeader{
    color: rgb(59, 89, 152);
}

#connectionDialogContent {
    position: absolute;
    width: 100%;
    margin: 0 auto;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
.dlgBtn{
    text-align:center;
    padding:0.4em 3em;
    color:#FFF;
    background-color:#3b5998;
    border-radius:10px;
    display:inline-block;
    border:solid 1px #CCC;
    cursor:pointer;
    border-radius: 10px 10px 10px 10px;
}

#conDone{
    position: absolute;
    bottom: 0;
    right: 0;
    margin:5px 40px 40px;
}

#conCancel{
    position: absolute;
    bottom: 0;
    left: 0;
    margin:5px 0px 40px 40px;
}

#conDone:hover {
    border:solid 1px #a0d5dc !important;
    color:#000;
    background:#f1fdfe;
}
#conCancel:hover {
    border:solid 1px #a0d5dc !important;
    color:#000;
    background:#f1fdfe;
}

#connectionList{
    text-align: center;
    min-height: 50px;
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
}

#powerConSelect{
    text-align: center;
    display: none;
    margin: 0 auto;
    min-width: 300px;
}