html {
    overflow-y: scroll;
}

body {
  font-family: Consolas, monospace;
  overflow-x: hidden;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 1.75em;
  padding: 0;
}
#menu{
  left:0;
  margin:5px;
  position:relative;
}
#sideBar{
  width: auto;
  height: auto;
  float: right;
  margin-left:5px;
  margin-right:5px;
  margin-top:5px;
  position: relative;
}
#content {
    width: 50%;
    height: auto;
    float: left;
    position: relative;
}
#map {
  height: 400px;
  width: 400px;
}
#editor{
  height: 120px;
}

#editor_power{
  /* height: 280px; */
  overflow-y: scroll;
}
#editor_water{
  /* height: 280px; */
  overflow-y: scroll;
}
#editor_road{
  /* height: 280px; */
  overflow-y: scroll;
}

#editor_tabs{
  float: left;
  /* display: inline-block; */
  text-align: center;
  padding-right: 10px;
}
#editor_content{
  /* display: inline-block; */
  padding-top: 10px;
  padding-left: 10px;
  /* background-color: rgb(255,0,0); */
  height: 100px;
}

.editor_content_header {
  color: rgb(59, 89, 152);
  border-bottom: solid rgb(102,102,102);
}

nav {
    opacity: 0;
    left: 0px;
    top: 0px;
    position: fixed;
    z-index: 0;
    width: 15%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    background: #3e3c3d;
    background: -moz-linear-gradient(top, #3e3c3d 0%, #2d2c2d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3e3c3d), color-stop(100%, #2d2c2d));
    background: -webkit-linear-gradient(top, #3e3c3d 0%, #2d2c2d 100%);
    background: -o-linear-gradient(top, #3e3c3d 0%, #2d2c2d 100%);
    background: -ms-linear-gradient(top, #3e3c3d 0%, #2d2c2d 100%);
    background: linear-gradient(to bottom, #3e3c3d 0%, #2d2c2d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e3c3d', endColorstr='#2d2c2d', GradientType=0);
}

header {
    background-color: #3b5998;
    display: block;
    padding: 10px;
    text-decoration: none;
    position: relative;
    width: 100%;
    z-index: 1;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
}

nav ul {
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 0;
}

nav li {
    position: relative;
    font-size: 1em;
    font-weight: bold;
    border-bottom: 1px solid #222222;
    border-top: 1px solid #444444;
    padding: 15px;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

canvas {
	height: auto;
	width: auto;
	pointer-events: auto;
}
button.nodeList{
    background:none;
    border:none;
}
