div.scroll {
    width: 400px;
    height: 545px;
    overflow: scroll;
    margin: auto;
    padding: 20px;
}

tr:hover{background-color:#f5f5f5}

html *
{
   font-family: helvetica !important;
}

th.colName{
	font-weight: bold;
	color: rgb(59, 89, 152);
	padding-left: 10px;
	font-size:18px;
}

td.rowName{
	font-weight: bold;
	color: rgb(59, 89, 152);
	padding-left: 10px;
	font-size:18px;
}

td.rowData{
	color: rgb(102,102,102);
	font-size:16px;
	margin-left: 10px;
	padding-left: 10px;
}
td.topRow{
	padding-top: 12px;
}

td{
	padding: 2px;

}

td.tableHeader{
	background-color: rgb(59, 89, 152);
    color: white;
    padding: 6px;
    text-align: center;
    font-size:22px;
    font-weight: bold;
    width: 345px;
}

div.blueTable{

	box-shadow: 0 0 8px #888;
    width: 345px;
}

h3.NodeHeader{
  color: rgb(59, 89, 152);
  border-bottom: solid rgb(102,102,102);
}

.NodeList{
  color: rgb(59, 89, 152);
  padding: 0px;

}
.NodeListDiv.ng-scope{
  width: 100%;
}

div.attributesTable{
  padding: 20px;
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 40px;
  height: 20px;
  background-color: #dddddd;
  border-radius: 20px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 20px;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 20px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: rgb(59, 89, 152);
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 20px;
}

select.dropDown {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(/static/downarr.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 5px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.nodeConnectionButtons{
  display:none;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-color: rgb(59, 89, 152);
  color: rgb(255, 255, 255);
  background-color: rgb(59, 89, 152);
  margin-left: auto;
margin-right: auto;
margin-top: 15px;
margin-bottom: 10px;

}

.nodeConnectionButtons:hover{
  display:none;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-color: rgb(59, 89, 152);
  color: rgb(59, 89, 152);
  background-color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 10px;
}
